*{

	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

/*-----------Nivo--paginacion--------------------*/

.theme-nuevo_slider .nivoSlider{

	position: relative;
}

.theme-nuevo_slider .nivoSlider a {

        border: 0;
        display: block;
}
.nivo-controlNav{

	display: flex;
	justify-content: center;
}
.theme-nuevo_slider .nivo-control{

display: block;
width: 18px;
height: 18px;
background: #A4A4A4;
border-radius: 60%;
margin:3px;
text-indent: -9999px;

}

.theme-nuevo_slider .nivo-control:hover{

          
    background: #610B0B;
}

.theme-nuevo_slider .active{

    background: #610B0B;
}
/*-------------Nivo--Direction-------*/
.nivo-directionNav a{

	display: block;
	width: 35px;
	height: 35px;

}
.nivo-directionNav .nivo-prevNav{
background: url(../img/circle-left.png);
background-size:cover;
text-indent: -9999px;
left: 12px;
}
.nivo-directionNav .nivo-nextNav{
background: url(../img/circle-right.png);
background-size:cover;
text-indent: -9999px;
right: 12px;

}

